<table class='table table-striped table-bordered table-hover'>
  <tr>
    <th>Restaurant</th>
    <th>Cuisine</th>
    <th>Actions Available</th>
  </tr>
  <tr *ngFor='let restaurant of restaurants'>
    <td>{{restaurant.name}}</td>
    <td>{{restaurant.cuisine}}</td>
    <td>
      <button class='btn btn-success' [routerLink]="['/review', restaurant._id]">Read Reviews</button>
      <button class='btn btn-info' [routerLink]="['/edit', restaurant._id]">Update</button>
      <button *ngIf='display_delete == true' class='btn btn-danger' (click)='deleteRestaurant(restaurant._id)'>Delete</button>
    </td>
  </tr>
</table>
